:root {
    --background: #222234;
    --foreground: #efefff;
    --link: #a1a1ff;
    --link-visited: #efa1ff;
}

body {
  margin-top: 1em;
  justify-content: center;
  display: grid;
}

html {
    background-color: var(--background);
    color: var(--foreground);
}

a {
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --foreground: #222234;
        --link: #55558f;
        --link-visited: #7f558f;
    }
}
